<%= form_with model: [@inbox, message] do |form| %>
  <%= render 'shared/errors', form: form %>

  <div>
    <%= form.text_area :body, autocomplete: 'off',
                              style: 'width: 100%;',
                              rows: 10,
                              maxlength: Message::MAX_BODY %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
