<% if notice %>
  <p class="notice" id="notice"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert" id="alert"><%= alert %></p>
<% end %>

<!--
<% flash.each do |key, value| %>
    <%= content_tag :div, value, id: "#{key}" %>
<% end %>
-->